.game-result-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
            ". replay ."
            "heading heading heading"
            "errorLabel errorCount errorCount"
            "selectionLable selectionDetails selectionDetails";
    margin: 1rem;
}

.game-result__heading {
    grid-area: heading;
    justify-self: center;
    margin: 0;
}

.game-result__error-label {
    grid-area: errorLabel;
}

.game-result__error-count {
    grid-area: errorCount;
}

.game-result__selection-label {
    grid-area: selectionLable;
    align-self: center;
}

.game-result__selection-details {
    grid-area: selectionDetails;
    display: flex;
    flex-direction: column;
}

.game-result__replay-button {
    grid-area: replay;
    place-self: flex-start;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1rem;
    justify-self: center;
}

.padding--1rem {
    padding: 1rem;
}