.cards-selection__container {
    display: flex;
    align-items: center;
}

.margin-right--1rem {
    margin: 0 1rem 0 0rem;
}

.margin-left--1rem {
    margin: 0 0rem 0 1rem;
}

.play__button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.play__button--disabled {
    background-color: #e7e7e7;
    color: black;
    cursor: not-allowed;
}